section.bestSellers {
    height: 400px;
    width: 100%;
}

div.navbar {
    display: flex;
    align-items: center;
    height: 10%;
}

div.navbar>p {
    color: white;
    font-weight: bold;
    font-size: 1.3rem;
    margin-right: auto;
}

div.navbar>ul {
    display: flex;
    list-style-type: none;
    margin-right: 2rem;
}

div.navbar li {
    transition: scale 0.2s ease-in-out;
    cursor: pointer;
}

div.navbar li:hover {
    scale: 1.2;
}

div.navbar>a {
    color: white;
    font-size: 0.7rem;
    font-weight: bold;
    text-underline-offset: 8px;
}

div.imageSlider {
    height: 90%;
    width: 100%;
    display: flex;
    gap: 16px;
    overflow-x: auto;
    scroll-behavior: smooth;
    transition: scroll 0.2s ease-in-out;
}

div.item {
    height: 100%;
    min-width: 300px;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.item>a {
    text-decoration: none;
}

div.item>div {
    width: 100%;
    height: 70%;
    background-color: var(--secondaryBG);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
}

div.item img {
    max-height: 100%;
    width: 100%;
}

a.category {
    font-size: 0.7rem;
    color: var(--secondaryBG);
}

p.name {
    font-size: 0.7rem;
    color: lightgrey;
    font-weight: bold;
}

p.price {
    font-size: 0.6rem;
    color: var(--secondaryLabel)
}

/* scroll bar styles */
::-webkit-scrollbar {
    width: 10px;
    height: 3px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@media (max-width: 767px) {
    section.bestSellers {
        height: 300px;
    }

    div.item>div {
        height: 85%;
        padding: 1rem;
    }
}