section.highlights {
    width: 100%;
    height: 900px;
    margin: 1rem 0;
    display: flex;
}

section.highlights > div {
    height: 100%;
    width: calc(100% / 2);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--tertiaryBG);
    position: relative;
}

section.highlights img {
    height: 100%;
}

section.highlights > div.highlight2 {
    background-color: rgb(26, 29, 26);
}

div.highlight2 img {
    height: 50%;
}

section.highlights > div.highlight3 {
    padding: 1rem 0;
}

div.highlight3 img {
    width: 100%;
    height: auto;
}

section.highlights p {
    color: grey;
    text-decoration: underline;
    text-underline-offset: 10px;
    position: absolute;
    bottom: 10%;
    right: -8%;
    transform: rotate(270deg);
    display: none;
    animation: slideIn 0.2s ease-in-out;
    animation-direction: alternate;
}

div.highlight1:hover p,
div.highlight2:hover p,
div.highlight3:hover p {
    display: block;
}

@keyframes slideIn {
    from {
        opacity: 0;
        right: -20%;
    }
    to {
        opacity: 1;
        right: -8%;
    }
}

@media (max-width: 767px) {
    section.highlights {
        flex-direction: column;
        height: 600px;
    }

    section.highlights > div {
        height: calc(100% / 3);
        width: 100%;
    }

    div.highlight3 img {
        width: auto;
        height: 100%;
    }
}