a.product {
    text-decoration: none;
}

div.product {
    height: 400px;
}

div.image {
    height: 70%;
    width: 100%;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondaryBG);
}

div.image > img {
    width: 80%;
    transition: scale 0.2s ease-in-out;
}

div.image:hover img {
    scale: 1.5;
}

footer.details {
    padding: 0.5rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr;
    border: 1px solid var(--secondaryBG);
    height: 30%;
}

p.name {
    font-size: 0.9rem;
    grid-area: 1 / 1 / 2 / 2;
    color: var(--secondaryLabel);
}

p.category {
    font-size: 0.6rem;
    grid-area: 2 / 1 / 3 / 2;
    color: #a1a193;
}

p.price {
    font-size: 0.8rem;
    font-weight: bold;
    color: #aaaa9a;
    justify-self: end;
}

button.add {
    justify-self: end;
    align-self: start;
    width: 70%;
    background-color: transparent;
    border: 0.3px solid var(--secondaryLabel);
    font-size: 0.5rem;
    color: var(--secondaryLabel);
    border-radius: 3px;
    cursor: pointer;
    padding: 0.2rem 0;
}

button.add:hover {
    background-color: var(--secondaryLabel);
    color: var(--primaryBG);
}

div.count {
    align-self: start;
    justify-self: end;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40%;
    border: 1px solid white;
    border-radius: 6px;
    font-size: 0.6rem;
    color: var(--secondaryLabel);
}

div.count > button {
    width: 35%;
    height: 100%;
    cursor: pointer;
    font-size: 0.7rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    transition: font-size 0.1s ease-in-out;
}

div.count > button:hover {
    font-size: 1rem;
}

button.sub {
    border-radius: 3px 0 0 3px;
    border: none;
}

button.plus {
    border-radius: 0 3px 3px 0;
    border: none;
}

@media (max-width: 767px) {
    div.product {
        height: 300px;
    }
    
    footer.details {
        height: 20%;
    }

    div.count {
        height: 60%;
    }
}