@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

:root {
    font-size: calc(0.8vh + 0.8vw);
    --primaryBG: #596946;
    --secondaryBG: #a29889;
    --tertiaryBG: #12150c;
    --primaryLabel: #8a772f;
    --secondaryLabel: #cecebc;
    --primaryButton: #625D48;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato';
}

html {
    width: 100vw;
}

body {
    padding: 0 10rem;
    width: 100%;
    background-color: var(--primaryBG);
}

#root {
    width: 100%;
}

@media (max-width: 1024px) {
    body {
        padding: 0 5rem;
    }
}

@media (max-width: 767px) {
    body {
        padding: 0 0.5rem;
    }
}